# Calculation of Portfolio Volatility
![](mm2-variance.gif)

### 1. Environment

In [ ]:
# This is a volatility calculation of a 7 security portfolio. 
# Some of these calculations can be done by hand with a 1 to 2 
# security portfolio, but with 3 and higher it is best to use computers.

In [3]:
import datetime as dt
import json
import numpy as np
import pandas as pd
import requests

### 2. Preliminaries
API used: https://eodhistoricaldata.com

In [4]:
key = '61d3b56ccec906.64426562'
start = dt.date.today() - dt.timedelta(366)
symbols = "SPY GLD AMZN GOOG KPTI GILD MPC".split()
weights = np.array([14.3, 14.3, 14.3, 14.3, 14.3, 14.3, 14.2]) / 100
data = []

### 3. Download and prepare data

In [5]:
for symbol in symbols:
    request = f"https://eodhistoricaldata.com/api/eod/{symbol}.US?api_token={key}&from={start}&fmt=json"
    raw =requests.get(request).text
    raw = pd.DataFrame(json.loads(raw))
    data.append(raw['close'])
data = pd.DataFrame(data).T
data.columns = symbols
data.index = raw['date']
data.head()

               SPY     GLD     AMZN     GOOG   KPTI   GILD    MPC
date
2021-01-04  368.79  182.33  3186.63  1728.24  16.92  60.11  40.75
2021-01-05  371.33  182.87  3218.51  1740.92  17.69  60.00  42.09
2021-01-06  373.55  179.90  3138.38  1735.29  17.08  61.95  42.95
2021-01-07  379.10  179.48  3162.16  1787.25  17.22  62.52  44.17
2021-01-08  381.26  173.34  3182.70  1807.21  17.58  63.04  43.18

### 4. Calculate instaneous returns

In [8]:
returns = np.log(data).diff()
returns.dropna(inplace = True)
len(returns)
std = np.sqrt(returns.var() * 251)
print(f"{std.mean():.2%}")

28.30%

### 5. Equal Weighted Portfolio Volatility

In [9]:
cov = returns.cov() * 251
print(f"{np.sqrt(np.dot(weights.T, np.dot(cov, weights))):.2%}")

17.17%